body{
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5

  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color:#f4bc42;
}

/* global stuff */


.container{
  width:80%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header{
  background:#4f3c14;
  color:#ffffff;
  padding-top:10px;
  min-height:60px;
}

header nav a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
header nav a:hover{
  color: orange;
  font-weight: bold;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

header .logo{
  float: left;
}

header .logo h1{
  margin: 0;
}
header .logo h1 a{
  color: white;
  text-decoration: none;
  font-size: 32px;
}

header nav{
  float: right;
  margin-top: 10px;
}


#book_id{
  display: none;
}
/* footer styles */
footer{
  padding:10px;
  margin-top: 20px;
  color:#ffffff;
  background-color:#4f3c14;
  text-align: center;
}
.footer{
  position: absolute;
  width: 98.5%;
  bottom: 0;
}

/* main store page */

.catalogue {
  border-top: solid 0.25em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalogue .available {
  color: green;
}
.catalogue .min {
  color: red;
}

.catalogue li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.catalogue li img {
  width: 11em;
  height: 11em;
  float: left;
  padding: 10px;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 1.5em;
}

.catalogue li .price {
  font-size: 24px;
  font-weight: bold;
}

.catalogue li form, .catalog li div {
  display: inline;
  float: right;
}

.catalogue li input[type="submit"] {
  background-color: green;
  border-radius: 5px;
  border: solid thin black;
  color: white;
  font-size: 24px;
  padding: 5px 20px;
}

.catalogue li input[type="submit"]:hover {
  background-color: grey;
}

/*products page stuff*/
.products {
  margin: 0;
  padding: 0.5em;
}
.products table {
  border-collapse: collapse;
}
.products td {
  padding: 0.5em;
  margin: 0;
}
.products td.image {
  display: none;
}
.products .available {
  color: green;
}
.products .min {
  color: red;
}

.products td.description h1 {
  font-size: 24px;
}
.products td.actions ul {
  padding: 0;
  list-style: none;
}
.products td.actions ul li {
  padding: 0.5em 0.5em;
}

@media (min-width: 450px) {
  .products td.image {
    display: block;
  }
  .products td.image img {
    height: 130px;
    margin-top: 2em;
  }
}


/*cart stuff */
.cart table {
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.cart td {
  padding: 0.5em;
}
.cart td.quantity {
  white-space: nowrap;
}
.cart td.quantity::after {
  content: " x";
}
.cart td.price {
  font-weight: bold;
  text-align: right;
}

.cart tfoot th {
  text-align: right;
}
.cart tfoot td.price {
  border-top: solid thin;
}

.checkout input{
  height: auto;
  margin: 20px auto 20px auto;
  padding: 8px 24px;
  border: solid thin #000000;
  border-radius: 5px;
  background: green;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 1em;
}

.checkout input:hover {
 background-color: green;
}

/*add/edit item*/
section .form-title{
  text-align: center;
}
.new-item{
  font-size: 16px;
  width: 30em;
  max-width:100%;
  margin: 0 auto;
}
.new-item div{
  margin: 0 0 0.5% 10%;
  display: flex;
  flex-direction: column;
}

.new-item div input{
  margin: -2% 0 5% 0;
  display: flex;
  padding: 5px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.new-item div textarea{
  margin: -2% 0 5% 0;
  border: none;
  border-radius: 5px;
}

.new-item .create-btn{
  display: inline-block;
  width: 100%;
  height: auto;
  margin: -5% 20px 20px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: green;
  color: #f2f2f2;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.new-item .create-btn:hover{
  background-color: #015100
}

/*add new user and login*/

.form{
  min-width: 300px;
  width: 30%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.form-content{
  list-style-type: none;
  padding: 0;
  max-width: 80%;
  margin: 0 auto;
}

.form-content li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.form-content li label{
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
  flex: 1 0 120px;
  max-width: 220px;
}

.form-content li h2 {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: .09em;
  text-transform: uppercase;
  flex: 1 0 120px;
  max-width: 100%;
}

.form-content li input {
  flex: 1 0 220px;
  padding: 15px;
  border: none;
}

.form-content li input.user-btn {
  margin-left: 80%;
  padding: 10px 0 10px 0;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
  max-width: 20%;
}
.form-content li input.user-btn:hover {
  background-color: green;
}

/*sale record*/

.record{
  display: flex;
  color: white;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  border-color: #f4bc42;
  background-color: #712511;
  font-size: 16px;
}

.record .date, .record .attendant, .record .description{
  flex: 1 0 300px;
  max-width: 100%;
  text-align: center;
}

#item{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 5px 10px 5px 10px;
  flex-direction: row;
}
